.fashionCaroItemSize{
    height: 50%;
}

.fashionCaroItem{
    background: cover;
    filter: brightness(50%);
    object-fit:cover;
    margin-top: 66px;
    -webkit-filter: brightness(50%);
    -moz-filter: brightness(50%);
    -o-filter: brightness(50%);
    -ms-filter: brightness(50%);
}