  .productImg{
    object-fit: contain;
    padding: 30px;
  }
  
  .cardOutline{
    margin: 0;
  }
    
  .siteButtons{
    margin: 40px 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  
  .siteButtons img:nth-child(1){
    margin-top: 15px;
  }
  
  .siteButtons img{
    width: 100px;
    height: 30px;
  }

  .bottomCardSection{
  }

  .cardSubtitle{
    /* position: absolute; */
    margin-top: 20px;
    color: green;
    font-weight: bold;
  }

  /* .mainCardButton{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 80%;
    margin: auto;
  } */
  
  .cardTitle{
    cursor: pointer;
  }


  /* RIBBON PART */

  .mainCardRibbonWrap {
    height: 188px;
    position: relative;
    margin-bottom: 30px;
    background-size: cover;
    text-transform: uppercase;
    color: white;
    width: 100%;
    height: 188px;
    position: absolute;
    top: -8px;
    left: 8px;
    overflow: hidden;
  }
  .mainCardRibbonWrap:before, .mainCardRibbonWrap:after {
    content: ""; 
    position: absolute;
  }
  .mainCardRibbonWrap:before {
    width: 40px;
    right: 100px;
    background: #4D6530;
    border-radius: 8px 8px 0px 0px;
  }
  .mainCardRibbonWrap:after {
    width: 8px;
    right: 0px;
    top: 100px;
    background: #4D6530;
    border-radius: 0px 8px 8px 0px;
  }
  .ribbon6 {
    width: 200px;
    height: 40px;
    line-height: 40px;
    position: absolute;
    top: 30px;
    right: -50px;
    z-index: 2;
    overflow: hidden;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    border: 1px dashed;
    box-shadow:0 0 0 3px #dda243,  0px 21px 5px -18px rgba(0,0,0,0.6);
    background: #dda243;
    text-align: center;
  }
  @media (min-width: 500px) {
    .ribbons-wrapper {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
    .ribbon {
      width: 48%;
    }
  }
  